@import 'tailwindcss';

@layer base {
  :root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }
}
